$body-color = hsl(0, 0%, 80%)
$link-color = hsl(210, 80%, 50%)
$grey-bg = hsl(210, 20%, 15%)

body
  margin 0
  font 16px 'Noto Sans', sans-serif
  color $body-color
  background black

a
  text-decoration none
  color $link-color
  outline none

  &:hover
    text-decoration underline

selection()
  color hsl(0, 0%, 90%)
  background hsl(315, 50%, 30%)

::selection
  selection()
::-moz-selection
  selection()

nav
  margin .2em 0
  text-align right
  cursor default

  a
    font-weight bold
    margin 0 .5em

    &:hover
      text-decoration underline

    &.current
      color $body-color
