@require 'all.styl' 
@require 'help-bg.styl'

article
  font-size 1.2em
  width 30em
  margin 0 auto
  padding .1em 1.5em
  border-radius 10px
  -moz-border-radius @border-radius
  -webkit-border-radius @border-radius
  background $grey-bg $help-bg
  border 2px solid hsl(0, 0%, 10%)

  h1, h2
    text-align center

  ul
    list-style square

footer
  text-align center
  margin 1em 0

  a
    margin 0 .5em
